
*{
    background-color: white;
}

h1 {
  color: black;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.navigation{
  color: black;
  text-align: center;
  padding: 5px;
}